{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["next-env.d.ts"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "google",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "no-console": 1,
    "require-jsdoc": "off",
    "import/newline-after-import": ["error", { "count": 1 }]
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
