{
  "env": {
    "browser": true,
    "es2021": true
  },

  "ignorePatterns": [
    "node_modules/*",
    ".next/*",
    ".out/*",
    "next.config.js",
    "next-env.d.ts"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "google",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "index",
          "sibling",
          "parent",
          "internal",
          "external",
          "builtin",
          "object",
          "type"
        ]
      }
    ],
    "no-console": 1,
    "require-jsdoc": "off",
    "import/newline-after-import": ["error", { "count": 1 }],
    "react/no-array-index-key": "warn",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "react/jsx-sort-props": [
      1,
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "ignoreCase": false,
        "reservedFirst": true
      }
    ],
    "react/jsx-no-duplicate-props": [2, { "ignoreCase": false }],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
